<?xml version="1.0"?>
<configuration>

	<appSettings/>
	
	<connectionStrings>
		<add name="SQLSERVER2005" providerName="System.Data.SqlClient" connectionString="Data Source=SVR-MASPAN2;Integrated Security=false;User='sa';Password='1234'"/>
	</connectionStrings>
	
	<system.web>
		<compilation debug="true"/>
		<httpRuntime executionTimeout="90" delayNotificationTimeout="90" shutdownTimeout="90"/>
	</system.web>

</configuration>

